.container.education__container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}


/* NEW STUFF---------------------------------------------- */
.title-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    padding-right: 4rem;
    padding-bottom: 3rem;
}
.special {
    color: var(--color-black);
    padding: 0.5rem;
}
h2 {
    color: var(--color-primary);
    padding: 0.5rem;
    align-items: center;
}
hr{
    border: 1px solid var(--color-primary);
    width: 80%;
}
em {
    font-size: 1.2rem;
}
.education__left-of-line {
    text-align: right;
    gap: 1rem;
    width: 20%;
}
.education__right-of-line {
    width: 70%;
    height: 100%;
}

.education__right-of-line > h6 {
    font-size: 0.7rem;
    color: var(--color-bg-variant);
    text-align: left;
    margin: -0.5rem;
}

.education__right-of-line > p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}


hr{
    background-color: var(--color-primary);
}
.education__item {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 1.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.education__middle-line{
    align-items: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.lines {
    height: 300px;
    border-left: solid 2px var(--color-bg-variant);
    position: absolute;
    width: 15px;
    border-top: solid 2px var(--color-bg-variant);
    position: absolute;
}

h3{
    color: var(--color-bg-variant);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}
h4 {
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 0.5rem ;
}
h5 {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 300;
}
.education__mobile-title {
    display: none;
}

/* =================== MEDIA QUERIES - TABLETS ================== */
@media screen and (max-width: 1024px) {
    .education__container {
        width: 70vh;}
    
}

/* =================== MEDIA QUERIES - PHONES ================== */
@media screen and (max-width: 600px) {
    .container.education__container {
        width: var(--container-width-sm);
    }
    .title-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
    }
    .education__item {
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        gap: 0;
        padding: 0;
        margin-bottom: 2rem;;
    }
    .education__left-of-line {
        display: none;
    }
    .lines {
        display: none;
    }
    h4 {
        color: var(--color-primary);
        font-size: 0.8rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        margin-top: 0;
        text-align: center;
    }
    h5 {
        font-size: 0.9rem;
        text-align: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .education__mobile-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .education__right-of-line {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }
    .education__right-of-line > p {
        font-size: 0.7rem;
        margin-top: 1.2rem;
    }
    em {
        font-size: 0.8rem;
    };
}



