header {
    background: linear-gradient(var(--color-primary),60%,  transparent);
    height: 95vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    
}

.descriptor-titles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 0.8rem;
    padding: 1rem; 
}

.bottom__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 0.8rem;
    padding: 1rem; 
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-top: 3rem;
    height: 100%;
}

.learn__more-img {
    max-width: 50px;
    max-height: 50px;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent, 
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
    transform: rotate(0deg);
}

.about__me-image:hover {
    transform: rotate(5deg);
}

.header__left {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 60%;
    padding-right: 2rem;
}

.header__left > h3 {
    font-size: 3rem;
    color: var(--color-primary);
}

.header__left > h4 {
    font-size: 1rem;
    color: var(--color-bg-variant);
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

h6 {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--color-light);
}
/* =================== CTA ================== */

.cta {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/* =================== IMAGE ================== */
.me {
    width: 22rem;
    height: 30rem;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* =================== MEDIA QUERIES - TABLETS ================== */
@media screen and (max-width: 1024px) {
    header {
        height: 70vh;}
    .descriptor-titles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
    }
}

/* =================== MEDIA QUERIES - PHONES ================== */
@media screen and (max-width: 600px) {
    header {
        height: 82vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
}